.portfolio {
  margin-top: 5em;
  padding-top: 3em;
  border-top: 1px solid lightgray;
  display: block;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.portfolio h2 {
  font-family: 'Roboto';
  color: gray;
}

.project-card {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 4em;
  justify-content: center;
  width:100%;
  margin: 2em;
  border-bottom: 1px solid lightgray;
}

.project-card img {
  width:500px;
  -webkit-box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.75);
}

.project-card-prices {
  width:500px;
  object-fit: cover;
  -webkit-box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.75);
}

.project-content {
  margin: 5em;
  margin-left: 6em;
}

.project-card p {
  font-family: 'Roboto';
  font-weight: 300;
  font-size:1.1em;
  width: 500px;
  color: gray;
}

.project-card button {
  background: none;
  padding: .7em;
  margin-top: 1em;
  cursor: pointer;
  width: 160px;
  border: 2px solid #BF0000;
  font-family: 'Roboto';
  font-size: 1.2em;
  font-weight: 100;
  color: #BF0000;
  outline: none;
  margin-right: 1em;
  transition: 250ms ease;
}

.project-card .visit-btn:hover {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(191,0,0,1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(191,0,0,1);
  box-shadow: 0px 0px 5px 1px rgba(191,0,0,1);
}

.project-card .source-btn {
  background: #BF0000;
  color:white;
}

.project-card .source-btn:hover {
  background: none;
  color: #BF0000;
}

@media(max-width:1366px) {
  .portfolio {
    justify-content: center;
  }

  .project-card img {
    margin: 0;
    padding:0;
    align-self: center;
    width: 400px;
  }

  .project-card {
    margin:0;
    align-items: center;
    align-content: center;
  }

  .project-content {
    align-self: center;
    text-align: center;
  }

  .project-card button {
    margin-left: 1em;
  }
}

@media(max-width:500px) {
  .project-card img {
    margin-top: 4em;
    width: 300px;
  }

  .project-card p {
    width: 300px;
  }
}
