.contact-form {
  display: block;
  justify-content: center;
  margin: 2em;
}

.contact-form form {
  align-self: center;
  margin: auto;
  display: flex;
  padding: 3em;
  width: 30em;
  flex-direction: column;
  font-family: 'Roboto';
  text-align: left;
  border: 1px solid lightgray;
  -webkit-box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.75);
}

.contact-form h2 {
  text-align: left;
}

.contact-form label {
  font-size: 1.2em;
  color: #aaaaaa;
  margin-bottom: .5em;
}

.contact-form input {
  margin-bottom: .5em;
  border: none;
  border-bottom: 1px solid lightgray;
  height: 32px;
  padding: 6px;
  font-size: 1.1em;
  transition: 250ms ease;
  outline: 2px solid rgba(0,0,0,0);
}

.contact-form input:focus {
  outline: 2px solid #BF0000;
}

.contact-form button {
  background: #BF0000;
  padding: .7em;
  margin-top: 1em;
  cursor: pointer;
  width: 100%;
  border: 2px solid #BF0000;
  font-family: 'Roboto';
  font-size: 1.2em;
  font-weight: 100;
  color: white;
  margin-right: 2em;
  transition: 250ms ease;
  outline: none;
}

.contact-form button:hover {
  background: none;
  color: #BF0000;
}

.contact-form textarea {
  resize: none;
  border: 1px solid lightgray;
  outline: none;
  font-family: 'Roboto';
  transition: 250ms ease;
  outline: 2px solid rgba(0,0,0,0);
}

.contact-form textarea:focus {
  outline: 2px solid #BF0000;
  padding: 6px;
  font-size: .9em;
}


@media(max-width:500px) {
 .contact-form form {
   width:15em;
 }
}
