header {
  padding-top: 1em;
  display: flex;
  max-height: 35em;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: #222222;
}

.bgimage {
  margin-left: auto;
  width: 1200px;
  display: flex;
  overflow: hidden;
}

header .bgimage img {
  filter: grayscale(100%);
  transform: rotate(36deg);
  width: 600px;
  margin-left: auto;
  opacity: .1;
  object-fit: cover;
  max-height: 35em;
}

.name-banner {
  margin-left: 10em;
}
.name-banner h1 {
  font-size: 3.5em;
  padding-bottom: .3em;
}
.name-banner h1, .name-banner h3 {
  color: white;
  font-family: 'Roboto';
  border-bottom: 1px solid rgba(255,255,255,.5);
  font-weight: 300;
}

.name-banner h3 {
  margin:0;
  border: none;
  font-size: 4em;
  max-width: 10em;
}

.name-banner button {
  background: #BF0000;
  padding: 0.7em;
  width: 250px;
  font-family: 'Roboto';
  margin-top: 1.5em;
  font-weight: 300;
  font-size: 1.3em;
  color: white;
  cursor: pointer;
  border: 2px solid #BF0000;
  transition: 250ms ease;
  outline: none;
}

.name-banner button:hover {
  background: none;
}

@media(max-width:1366px) {

  .bgimage {
    display : none;
  }

  header {
    display: flex;
    width: 100%;
    align-items: center;
    min-height: 60vh;
    justify-content: center;
    background-color: #222222;
  }

  .name-banner {
    text-align: center;
    margin-left: 0;
  }

  .name-banner h1 {
    font-size: 2.5em;
    padding-bottom: .3em;
    margin: 1em;
  }
  .name-banner h1, .name-banner h3 {
    color: white;
    font-family: 'Roboto';
    border-bottom: 1px solid rgba(255,255,255,.5);
    font-weight: 300;
  }

  .name-banner h3 {
    margin:0;
    border: none;
    font-size: 3em;
    max-width: 10em;
  }
}
