.prueba-nav {
  top: unset !important;
  margin: unset !important;
  padding: unset !important;
  display: unset !important;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  z-index: 10;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav ul li .anchor {
  color: #FFFFFF;
  margin:.3em;
  font-size: 1.4em;
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 300;
  transition: 250ms ease;
}

nav ul li .anchor:hover {
  opacity: .5;
}
