.prueba-nav {
  position: absolute;
  top: 0;
  right:0;
  justify-content: center;
  margin-top: 1em;
  margin-right: 2em;
  align-items: center;
  z-index: 10;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav ul li .anchor {
  color: #FFFFFF;
  margin:.3em;
  font-size: 1.4em;
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 300;
  transition: 250ms ease;
}

nav ul li .anchor:hover {
  opacity: .5;
}

@media(max-width:500px) {
  .prueba-nav {
    display:none;
    font-size: .8em;
    margin:auto;
  }
}
